<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" class="row-example">
  <!-- <div><input mdInputplaceholder="where" 
    autocorrect="on" 
    autocapitalize="off" 
    spellcheck="on" 
    type="text" 
    class="form-control"
      #search [formControl]="searchControl"></div> -->

  <div><md-form-field class="adjust">
    <input mdInput placeholder="when" [mdDatepicker]="picker" placeholder="Choose a date">
    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
    <md-datepicker #picker></md-datepicker>
  </md-form-field></div>
  <div><button md-raised-button color="accent" (click)="openDialog()">LOGISTICS</button></div>
</div>
