.row-example {
    /* border: 0.5px solid #D4C9C9; */
    height:58px;
  }

  div {
    background: rgb(253, 253, 253);
    /* border: 1px solid #D4C9C9; */
    padding: 2px;
    margin: 0 0px;
  }

.adjust{
    height: 50px;
}