<!-- <md-card class="example-card" *ngFor="let data of (myData ? myData.slice(0,10): []); let i = index">
    
      <img md-card-image src="{{ data.url }}">
      <md-card-header>
        <md-card-title>{{ data.title }}</md-card-title>
      </md-card-header>
    
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
      
    </md-card> -->
<md-grid-list cols="2" rowHeight="1:2">
  <md-grid-tile id="listClick" *ngFor="let data of (myDataURL ? myDataURL.slice(0,10): []); let i = index" routerLink="/listing-detail" routerLinkActive="active">
    <md-card>
        <img md-card-image src='localhost:3000/uploads/'+ "{{data}}">
      <md-card-title>{{data.title}}</md-card-title>
      <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
    </md-card>
  </md-grid-tile> 
</md-grid-list>