    <div class="cardiv">
      <div fxFlex="50" *ngFor="let data of (data.listingArray ? data.listingArray.slice(0,10): []); let i = index" routerLink="/listing-detail" routerLinkActive="active">
        <button md-button>
          <div fxLayout="column">
            <div fxFlex="80">
                <img src="http://174.64.102.57:3000/uploads/{{ data._source.images[0]}}">
            </div>
              <div fxFlex="10">{{data._source.title}}</div>
              <div fxFlex="10">${{data._source.rent}}/month</div>
          </div>
        </button>
      </div> 
    </div>
