<img height="300px" width="100%" src="https://source.unsplash.com/random/800x600" />
<h3 style="padding: 0px 5px;">Superb location, Heian Shrine, Bus Stop in front</h3>
<div fxLayout fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10px">
    <md-card-content style="height:100%;padding-bottom: 24px" class="b" fxFlex="55%" layout-align="left">
        <p> {{text}} </p>
        <h4>{{heading1}}</h4>
        <p> {{text2}} </p>
        <h4>{{heading2}}</h4>
        <p> {{text3}} </p>
        <h4>{{heading3}}</h4>
        <p> {{text4}} </p>
        <md-sidenav-container>
            <md-card>
                <div style="padding: 5px 0px;"><b>Amenities</b>
                    <div fxFlex="100%" fxLayout="column">
                        <div fxLayoutGap="50%" fxFlex="100%" fxLayout="row">
                            <div [class.strikethrough]=true>Parking</div>
                            <div>Children's play area</div>
                        </div>
                    </div>
                </div>
                <md-list fxLayout="column">
                    <md-divider ng-if="!$last"></md-divider>
                </md-list>
                <div style="padding: 5px 0px;"><b>Other facilities</b></div>
            </md-card>
        </md-sidenav-container>
    </md-card-content>

    <md-card fxFlex="35%" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10" layout-align="center center" style="height:300px;padding:10px;">
        <div style="padding: 10px">
            <form fxFlex ngNativeValidate (ngSubmit)="Listing.close(form.value)">

                <div style="margin:10px" fxFlex="100%" fxLayout="column" layout-fill>
                    <div style="background-color: #000000;color:#ffffff; height:40px;line-height: 40px;
         text-align: center;"><b>$60 per day</b></div>
                    <div flex fxLayout="row" fxLayoutGap="30px" layout-fill>

                        <md-form-field style="width:100%">
                            <input mdInput placeholder="when" [mdDatepicker]="picker" placeholder="Check in date" required>
                            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                            <md-datepicker #picker></md-datepicker>
                        </md-form-field>

                        <md-form-field style="width:100%">
                            <input mdInput placeholder="when" [mdDatepicker]="picker1" placeholder="Check out date" required>
                            <md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
                            <md-datepicker #picker1></md-datepicker>

                        </md-form-field>
                    </div>
                    <md-select style="width:100%;" mdInput placeholder="Guests" required>
                        <md-option *ngFor="let guest of guests" [value]="guest.value">
                            {{ guest.value }}
                        </md-option>
                    </md-select>
                    <md-dialog-actions align="center" style="padding-top:24px">
                        <button md-button style="width:75%;background-color:red;color:#ffffff"><b>Book</b></button>
                    </md-dialog-actions>
                </div>

            </form>
        </div>
    </md-card>

</div>