<div class="formdiv">
    <span fxFlex></span>
    <md-form-field fxFlex="35">
        <input mdInput placeholder="where" #search [formControl]="searchControl">
    </md-form-field>
    <span fxFlex></span>
    <md-form-field fxFlex="20">
        <input mdInput placeholder="start" [mdDatepicker]="picker1" class="start_date" [(ngModel)]="startDate" (ngModelChange)="onStartDateChange($event)">
        <md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
        <md-datepicker #picker1></md-datepicker>
    </md-form-field>
    <span fxFlex></span>
    <md-form-field fxFlex="20">
        <input mdInput placeholder="end" [mdDatepicker]="picker" class="end_date" [(ngModel)]="endDate" (ngModelChange)="onEndDateChange($event)">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
    </md-form-field>
    <span fxFlex></span>
</div>

<div class="formdiv">
        <div fxFlex="3">

    </div>
    <div fxFlex="20">
        <md-select placeholder="Type of home" [formControl]="animalControl" required>
            <md-option>---</md-option>
            <md-option *ngFor="let animal of animals" [value]="animal">
                {{animal.name}}
            </md-option>
        </md-select>
        <md-error *ngIf="animalControl.hasError('required')">
            Please choose a listing
        </md-error>
        <md-hint>
            kind of setting with housemates
        </md-hint>
    </div>
    <div fxFlex="3">
            
                </div>
    <nouislider fxFlex="50" [connect]="true" [min]="0" [max]="1000" [step]="1" [(ngModel)]="someRange" (ngModelChange)="onChange($event)"></nouislider>
    <div fxFlex="13.5">
            
                </div>
    <button md-raised-button color="accent" (click)="onRangeApply()">Apply</button>
    
    <span fxFlex></span>
    <md-menu #menu3="mdMenu">
        More filters to come
    </md-menu>
</div>
<div class="formdiv">
    <div fxFlex="25">
    </div>
    <div fxFlex="25">
            {{someRange[0]}}
        </div>
        <div fxFlex="25">
                
            </div>
            <div fxFlex="20">
                    {{someRange[1]}}
                </div>
    <span fxFlex></span>
</div>

<!-- map -->

<div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px" position="fixed" style="height:100%">
    <div fxFlex="65" style="overflow-y:scroll">
        <app-carousel id='listClick'></app-carousel>
    </div>
    <div class="container" fxFlex="30">
            <md-checkbox [checked]="false" (change)="onMappClick()">Show in Map</md-checkbox>
        <agm-map 
            [latitude]="lat" 
            [longitude]="lng" 
            [zoom]="zoom" 
            [disableDefaultUI]="false" 
            [zoomControl]="false" 
            (mapClick)="mapClicked($event)">

            <agm-marker *ngFor="let m of this.data.markers; let i = index" 
                (markerClick)="clickedMarker(m.label, i)" 
                [latitude]="m.lat" 
                [longitude]="m.lng"
                [label]="m.label" 
                [markerDraggable]="m.draggable" 
                (dragEnd)="markerDragEnd(m, $event)">

                    <agm-info-window>
                        <strong>Selected co-ordinates : ({{m.lat}}, {{m.lng}})</strong>
                    </agm-info-window>

            </agm-marker>

            <agm-circle 
                [latitude]="lat + 0.3" 
                [longitude]="lng" 
                [radius]="5000" 
                [fillColor]="'red'" 
                [circleDraggable]="true" 
                [editable]="true">
            </agm-circle>

        </agm-map>
    </div>
</div>