.form-container {
    display: flex;
    flex-direction: column;
    padding:2em;
    margin: 2em auto;
    background:#fff;
}

.form-container > * {
    width: 100%;
  }

  .datepicker-container {
  display: flex
  }

  .datebox {
      width: 100px;
      height: 1000px
  }