<div fxLayout="column" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px" position="fixed" fxFlex>
  <md-sidenav-container fxFlex>
    <router-outlet></router-outlet>
    <md-sidenav mode="side" opened>
      <md-toolbar color="primary">
        <md-icon id="gator_logo" class="icon" svgIcon="logo"></md-icon>
      </md-toolbar>
      <nav>
        <a routerLink="/" routerLinkActive="active">
                  <button md-raised-button color="accent"><md-icon>home</md-icon></button>
                </a>
        <a routerLink="/help" routerLinkActive="active">
                    <button id="help" md-raised-button color="accent">Help</button></a>
        <a routerLink="/signup" routerLinkActive="active">
                      <button md-raised-button color="accent">Sign Up</button></a>
        <a routerLink="/login" routerLinkActive="active">
                        <button md-raised-button color="accent">Login</button></a>
                        <a routerLink="/add-sublease-form" routerLinkActive="active">
                          <button md-raised-button color="accent">form</button>
                        </a>
      </nav>
    </md-sidenav>
  </md-sidenav-container>
</div>